.checkbtn {
    display: none;
    padding: 15px;
    font-size: 2rem;
}

#check {
    display: none;
}

@media(max-width:576px) {
    .navLinks {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 70px;
        /* height: 100%; */
        width: 100%;
        /* text-align: center; */
        align-items: flex-start;
        padding: 0 0 0 4rem;
        /* border: 4px solid black; */
        background-color: white;
    }

    .navLinks li {
        height: 40%;
        width: 100%;
        padding: 10px 0 10px 0;
    }

    .checkbtn {
        display: block;
    }

    #check:checked~.navLinks {
        display: flex;
    }

    .contact .row {
        display: flex;
        flex-direction: column;
        /* background-color: aqua; */
        padding: 15px;
    }

    .contact .row .image {
        width: 100%;
        /* background-color: aqua; */
    }

    .footer .box-container {
        display: flex;
        flex-direction: column;
        /* background-color: aqua; */

    }
}